# Oct 11
## LISTS

In [4]:
alist=[1, 'two', 3]
print(alist[0:3])

list2=alist+['1','2']
print(list2)

list2.append('4')
print(list2) #if [2] error not subscriptable: type of brackets
#useful when loop, populate an array without knowing how many elements there'll be

[1, 'two', 3]
[1, 'two', 3, '1', '2']
[1, 'two', 3, '1', '2', '4']

In [2]:
 #append works only on lists, then you convert to array 
list=[1,2,4]
import numpy as np
array1=np.array(list)
print(list, array1, type(array1))
#np has functions for array not lists

[1, 2, 4] [1 2 4] <class 'numpy.ndarray'>

In [5]:
alist.insert(0, 'E') #position, what
print(alist)
#delete methods, remove, pop

['E', 1, 'two', 3]

In [8]:
n_el=alist.count(3)
print('6 occurs', n_el, 'time')
print(7 in alist) #checks if it's there

print(alist.index(3))
print(min(list)) #error if it has letters
let=['r','e','g']
print(min(let)) #alphabetical order

asc=[10,1930, 874]
asc.sort(reverse=True)
print(asc)

6 occurs 1 time
False
3
1
e
[1930, 874, 10]

## TUPLES
You don't create tuples they're immmutable but they may exist in txt files

In [4]:
tupl=(12, 21, 'magic') # ( ) !!
print(tupl)
# error: tupl[-1]=9 can't modify!

(12, 21, 'magic')

## INPUT

In [5]:
name=input('Enter your name:')

Enter your name: Ale

In [6]:
print('your name is',name)
print(type(name))

your name is <PyodideFuture pending cb=[WebLoop._decrement_in_progress()]>
<class 'pyodide.webloop.PyodideFuture'>

In [7]:
age=float((input('age')))

<class 'TypeError'>: float() argument must be a string or a real number, not 'PyodideFuture'

## FORMAT

In [8]:
x, y= 7, 43
print('The division of {0} and {1} is {2} or {2:.3f}'.format(y, x , y/x))

The division of 43 and 7 is 6.142857142857143 or 6.143

In [9]:
name1='Archie'
name2='Gal'
name3='Enri'
print("|||{0:<15}|||{1:^15}|||{2:>15}|||".format(name1,name2,name3))

|||Archie         |||      Gal      |||           Enri|||

In [10]:
print("i\ti**2\ti**5\ti**20")
for i in range (1,11):
    print(i, "\t", i**2, "\t",i**5, "\t", i**20)

i	i**2	i**5	i**20
1 	 1 	 1 	 1
2 	 4 	 32 	 1048576
3 	 9 	 243 	 3486784401
4 	 16 	 1024 	 1099511627776
5 	 25 	 3125 	 95367431640625
6 	 36 	 7776 	 3656158440062976
7 	 49 	 16807 	 79792266297612001
8 	 64 	 32768 	 1152921504606846976
9 	 81 	 59049 	 12157665459056928801
10 	 100 	 100000 	 100000000000000000000

In [11]:
layout="{0:>4}{1:>6}{2:>8}{3:>23}"
print (layout.format("i", "i**2", "i**5", "i**20"))
for i in range(1,11):
       print(layout.format(i, i**2, i**5,  i**20))

   i  i**2    i**5                  i**20
   1     1       1                      1
   2     4      32                1048576
   3     9     243             3486784401
   4    16    1024          1099511627776
   5    25    3125         95367431640625
   6    36    7776       3656158440062976
   7    49   16807      79792266297612001
   8    64   32768    1152921504606846976
   9    81   59049   12157665459056928801
  10   100  100000  100000000000000000000



# CLASS
More powerful than just lines after lines

In [12]:
class Point():
    """ Point class in 2D space """
    def __init__(self):
        """Create a point"""
        self.x=0
        self.y=0

In [13]:
p=Point()
print(p.x, p.y)
p.x=3
print(p.x)
x= p.x
y= p.y

0 0
3

In [14]:
class Point():
    """ Point class in 2D space """
    def __init__(self, x=0, y=0):
        """Create a point"""
        self.x=x
        self.y=y

In [15]:
q= Point(3,5)
print(q.x, q.y)

3 5

## Method

In [16]:
class Point():
    """ Point class in 2D space """
    def __init__(self, x=0, y=9):
        """Create a point"""
        self.x=x
        self.y=y
    def distance_from_origin(self):
        return ((self.x)**2+(self.y)**2)**0.5

In [17]:
p=Point(3,4)
print(p.x, p.y, p.distance_from_origin())

3 4 5.0